<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/productcard.css">
</head>

<body>
    <div class="container">
        <% if (x.length>0){ %>
            <% x.forEach((i)=>{ %>
                <div class="productcard">  <a href="/productdetails/<%=i._id%>">
                    <img class="productimage" src="data:<&= i.productimage?.extention%>;base64,<%=i.productimage?.content%>" alt="">
                    <div class="info">
                      
                        <h3>
                            <%= i.productname %>
                        </h3>

                        <h3>prize:<%= i.prize %>
                        </h3>
                 
                      
                    </div>
                </div>
                <%} )}%>   </a>
    </div>

</body>

</html>