*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
h1{
    width: 300px;
    margin: auto;
}
.container{
   
    display: flex;
    width: 100%;
  height: auto;
  padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    
    max-width: 800px;
   min-width: 450px;
    width: 80vw;
    margin: 26px auto ;
    height: auto;
  
text-align: center;
    border-radius: 50px;
    background: #e0ecfc;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
   
}

.input{
    display: flex;
    
    width: 50rem;
    justify-content: center;
    height: 90px;
}
.input h2{
    display: inline-flex;
    height: 40px;
    width:180px;
    font-size: 1.5rem;
 margin-bottom: 5px;
}
input{
    width: 25vw;
   
   border: #fefefe;
   height: 50px;
   
   border-radius: 50px;
   background: #effcfe;
   box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}
#submitbutton{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fcfcfd9b;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
